{% stories my_button with { title: 'Components/Examples/Button' } %}

  {% story default with {
    name: '1. Default Button',
    args: { text: 'Default' }
  } %}
    {% include "ravikant_3447123:my-button" with {
      text
    } %}
  {% endstory %}

  {% story like  with {
    name: '1. Like Button',
    args: { text: 'Like', icon_type: 'like' }
  } %}
    {% include "ravikant_3447123:my-button" with {
      text,
      icon_type
    } %}
  {% endstory %}

  {% story like  with {
    name: '1. External Button',
    args: { text: 'External', icon_type: 'external' }
  } %}
    {% include "ravikant_3447123:my-button" with {
      text,
      icon_type
    } %}
  {% endstory %}

{% endstories %}